*{
    margin: 0px;
    padding: 0px;

    color: rgba(0, 0, 0, 0.8);

    font-family: Helvetica,  Arial,  sans-serif;
}
#root{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80vh 1fr;

    height: 100vh;
    width: 100vw;
}

#line-chart{
    grid-row: 1;
}

.description{
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    margin-top: -1px;
    grid-row: 2;

    display: grid;
    height: 100%;
    background-color: rgb(243, 243, 243);
}
p{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;


    line-height: 1.4;

    align-self: center;
    justify-self: center;
    text-align: center;
    text-justify: center;

}
.ital{
    font-style: italic;
    font-size: 20px;
}
#title{
    font-size: 20px;
}
a{
    text-decoration: none;
}


@media screen and (max-width: 770px){
    #root{
        grid-template-rows: 100vh auto;
        height: auto;
    }
}